*{
    box-sizing: border-box;
}
body{
    background-color: #131720;
    font-family: sans-serif;
}
h3{
    color: #fff;
}

.topnav{
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
}
.topnav .active{
    text-decoration: underline;
    font-weight: 900;
    font-size: 1.6rem;
    margin-top: -5px;
}
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase; 
    margin-top: 5px;
}
.topnav a:hover{
    text-decoration: underline;
    font-size: 1.3rem;
    transition: 1s ease;
}
.topnav a:active{
    font-size: 1.2rem;
    text-decoration: none;
}
.topnav .search-container{
    float: right;
}

form{
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.search-img{
    width: 15px;
    margin-right: 10px;
}
input {
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%;
    width:100%;
    padding: 6px 9px;
}
.card{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    text-align: center;
    background-color: #151f30;
    overflow: hidden;
}

.thumbnail {
    width: 100%;
    height: 350px;
    border-radius: 20px; 
    object-position: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover .thumbnail {
     transform: scale(1.02); 
     transition: transform 0.3s ease; 
}
.column {
    float: left;
    width: 20%;
    padding: 10px 10px;
}